body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#grid-container {
    margin-top: 50px;
    width: 50vmax;
    height: 50vmax;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#clear {
    margin-top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cell {
    border-color: black;
    border-width: 1px;
    border-style: solid; 
    height: 30px;
    width: 30px;
}

.draw {
    background-color: cyan;
}